.animate-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}

:root {
    --heading: rgb(0 10 45);
    --para: #777;
    --para-tint: #e4e4e4;
    --white: #fff;
    --black: #212529;
    --helper: #8490ff;
    --overlay: #3e64ff;
    --helper-tint: #eeeef7;
    --bg: #e8f4fc;
    --icons-bg: rgba(144, 172, 209, 0.2);
    --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --gradientSupport: -webkit-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(15, 15, 15) 100%);
    --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
    --shadowSupport: 0px 20px 20px 0px rgb(132 144 255 / 30%);
    --icon-bg: rgba(144, 172, 208, 0.2);
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.section-contact-main {
    max-width: 700rem;
    margin: 0 auto;
    margin-top: 9rem;
    transition: all 0.3s linear;
}

.section-contact-main form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 43rem;
    margin-right: -12rem;
}

.section-contact-main input,
.section-contact-main textarea {
    padding: 1.5rem 2rem;
    /* border: 0.1rem solid #ffffff; */
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: "work sans";
    width: 79%;
    background: transparent;
}

.section-contact-main input[type="submit"] {
    max-width: 60%;
    /* border: none; */
    background: black;
    border: 2px solid #c9c9c9;
}

.section-contact-main input:hover {
    background: var(--gradientSupport);
    color: #e4e4e4;
    box-shadow: 2px 2px 2px 2px rgb(110, 110, 110);
}

.section-contact-main .grid {
    gap: 3.2rem;
}


/* .contact-container {
    padding: 0 3.2rem;
} */

.contact-container .grid-two-column {
    grid-template-columns: 1fr;
}

.grid {
    display: grid;
    gap: 9rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
    grid-template-columns: repeat(4, 1fr);
}

.inline-contact {
    display: flex;
    width: 111rem;
    margin-left: 65rem;
}

.detail-contact {
    margin: 10rem 11rem 10rem 8rem;
}

.map-inline-with-details {
    padding: auto;
}

.service_block {
    margin-right: 5rem;
}

.wow {
    visibility: visible;
    animation-name: zoomIn;
    display: flex;
    justify-content: center;
}

#background_text_blur {
    visibility: visible;
    animation-name: zoomIn;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
}